.title {
  margin: 0;
  h2 {
    font-size: 3em;
    letter-spacing: 0.1em;
  }
  p {
    font-weight: bold;
    font-size: 1.6em;
    color: #707070;
  }
}

.producto-subtotal {
  display: flex;
  justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    .item {
      display: flex;
      flex-direction: row;
      background-color: #F7F7F7;
      padding: 1%;
      margin-bottom: 1%;
      img {
        width: 10em;
        height: 10em;
      }
      .description {
        margin-left: 2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .name-price {
          display: flex;
          justify-content: space-between;
          p {
          display: inline-flex;
          margin: 0;
          font-size: 1.3em;
          font-weight: bold;
          letter-spacing: 0.05em;
          color: #413F3D;
          }
          .total-price {
            font-size: 1.5em;
          }
          form {
            display: inline-flex;
            button {
              margin: 0 0.2em 0 0.2em;
              padding: 0;
              display: inline-flex;
              background: none;
              i {
              display: inline-flex;
              color: #BCADAD;
              font-size: 13px;
              }
            }
          }
        }
        .unit-price {
          margin-top: 0;
          color: #413F3D;
          font-style: italic;
          font-size: 1.2em;
          letter-spacing: 0.1em;
        }
        .units {
          display: flex;
          flex-direction: row;
          margin-bottom: 3%;
          .cantidad {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5em;
            width: 1.8em;
            border: 1px solid #D4D5D3;
            color: #413F3D;
            font-size: 1.3em;
            font-weight: bold;
            background-color: #FFFFFF;
          }
          .numero {
            width: 2.2em;
          }
        }
      }
    }
}

.totales {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 5%;
      p {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
      }
      .subtotal {
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.6em;
      }
      .total {
        font-weight: bold;
        font-size: 2.8em;
        color: #73A84D;
        margin-bottom: 1%;
      }
      .botones-compra {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        input {
          margin: 10% 0 0 0;
        }
        p {
          text-decoration: underline;
          margin-top: 0;
          font-size: 1.5em;
        }
      }
}
