.container{
	.product {
		.slick-dots li button:before {
			color: rgb(177, 211, 152);
			font-size: 3rem;
		}
		.description{
			display: inline-flex;
			flex-direction: column;
			h2{
				font-size: 3em;
			}
			.price{
				font-size: 2em;
			}
			.payment {
				flex-direction: column;
				margin: 3rem 0;
				i {
					font-size: 2em;
				}
				p{
					margin-bottom: 0.2em;
				}
				a{
					margin-bottom: 0.2em;
				}
			}
		}
		.product-aside p{
			font-size: 1.8em;
			line-height: 2em;
		}
		h3.alt-title{
			font-size: 2em;
		}
	}
	.related .alt-title{
		font-size: 2em;
	}

}

.colors {
	h5 {
		font-size: 1.4em;
	}
	.circulos {
		text-align: left;
		margin-bottom: 8%;
		#color1 {
			background-color: #D94A6A;
		}
		#color2 {
			background-color: #EF6A3C;
		}
		#color3 {
			background-color: #3E9186;
		}
		#color4 {
			background-color: #FFE64E;
		}
		.circulo {
			  border-radius: 50%;
				display: inline-flex;
				height: 2em;
			  width: 2em;
				margin-right: 4%;
		}
		}
		.submit-btn {
			font-size: 1.4em;
		}
}
.reviews {
	margin: 4rem 0;
	display: flex;
	flex-direction: column;	
	.estrellas {
		display: inline-flex;
		color: #FFE64E;
		font-size: 1.2em;
		margin-right: 2%;
		i {
			margin-right: 3%;
		}
	}
	.opinion-nombre {
		display: inline-flex;
		font-size: 1.6em;
		font-family: 'Georgia';
		font-weight: normal;
		font-style: italic;
		margin: 0;
	}
}
@media all and (min-width: 768px){
	.container{
		.product {
			display: flex;
			flex-direction: column;
			.product-image{
				max-width: 100%;
				.item {
					width: 50%;
					img{
						width: 100%;
						margin:0;
					}
				}
			}
			.product-main{
				display: flex;
				flex-direction: row;
				flex-wrap:nowrap;
				justify-content: space-around;
				margin: 4rem auto;
				.description{
					max-width:70%;
					display: block;
					width:auto;
					h2{
						font-size: 3em;
						margin-top: 0;
					}
					.price{
						font-size: 3em;
						margin-top: 0;
					}
					.payment {
					flex-direction: column;
					margin: 1rem 0;
						p{
							font-size: 1.4em;
							display: inline-block;
							margin-bottom: 0.2em;
						}
						a {
							font-size: 1.4em;
							display: block;
						}
					}
				}
	
			}
		}
			
	}
}
@media all and (min-width: 991px){
	.container{
		.product {
			display: flex;
			flex-direction: column;
			.product-image{
				max-width: 100%;
				.item {
					width: 50%;
					img{
						width: 100%;
						margin:0;
					}
				}
			}
			.product-main{
				display: flex;
				flex-direction: row;
				flex-wrap:nowrap;
				justify-content: space-around;
				margin: 4rem auto;
				.description{
					max-width:70%;
					margin-left: 4rem;
					display: block;
					width:auto;
					h2{
						font-size: 3em;
					}
					.price{
						font-size: 3em;
					}
					.payment {
					flex-direction: column;
					margin: 1rem 0;
						p{
							font-size: 1.4em;
							display: inline-block;
							margin-bottom: 0.2em;
						}
						a {
							font-size: 1.4em;
							display: block;
						}
					}
				}
	
			}
			
		}
			
	}
	.reviews {
		margin: 4rem 0;
		display: flex;
		flex-direction: column;	
		.estrellas {
			display: inline-flex;
			color: #FFE64E;
			font-size: 1.2em;
			margin-right: 2%;
			i {
				margin-right: 3%;
			}
		}
		.opinion-nombre {
			display: inline-flex;
			font-size: 1.6em;
			font-family: 'Georgia';
			font-weight: normal;
			font-style: italic;
			margin: 0;
		}
	}
	.shop-list.related {
		display: flex;
		align-items: center;
		justify-content: space-around;
		h3{
			text-align:center;
		}
	.related.alt-title{
		font-size: 2em;
	}	
	}
}
