.shop{
    &-header{
        margin-bottom: 5rem;
        h2{
            font-size: 4rem;
        }
        .description{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }
    &-sort{
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        }
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .item {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0.4% 5% 0;
            width: 100%;
            .name{
                font-size: 0.8em;
                text-transform: uppercase;
                font-weight: $bold;
                text-align: center
            }
            .price{
                font-size: 1em;
                margin-top: 0em;
                text-align: center;
            }
        }
        &:nth-child(5n) {
          margin-right: 0;
        }
    }
}
.price{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: $light;
	color: $gris-medio;
}
.products{
	&-deseados {
		padding: 1rem 3rem;
		.main-title {
			margin-bottom: 2em;
		}
		.name{
			
		}
		.price{
			text-align: center;
		}
	}
}
@media all and (min-width: 768px){
	.shop{
		&-header{
			display: flex;
			justify-content: space-between;
			margin-bottom: 5rem;
			h2{
				font-size: 4rem;
			}
			.description{
				display: flex;

			}
		}
		&-sort{
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			}
		&-list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			flex-direction: row;
			.item {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 0 0.4% 5% 0;
				width: 30rem;
				.name{
					font-size: 0.8em;
					text-transform: uppercase;
					font-weight: $bold;
					text-align: center
				}
				.price{
					font-size: 1em;
					margin-top: 0em;
					text-align: center;
				}
			}
			&:nth-child(5n) {
			  margin-right: 0;
			}
		}
	}
		.colors input {
		margin: 0;
	}
	.opiniones input {
		margin: 0;
	}
}

@media all and (min-width: 991px){
	.shop{
		&-header{
			margin-bottom: 5rem;
			h2{
				font-size: 4rem;
			}
			.description{
				display: flex;
				justify-content: space-around;
				flex-direction: row;
			}
		}
}
}