.products {
  display: block;
}

.categoria {
  margin-bottom: 4%;
  h1 {
    margin: 5% 0 5% 0;
    font-size: 4em;
  }
}

.descripcion-orden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  p {
    font-weight: bold;
    font-size: 1.6em;
  }
  select {
    width: 220px;
    height: 40px;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    border: 1px solid #999999;
    color: #333333;
    padding: 3%;
    margin: 15% 0 20% 0;
  }
}

.store {
  display: none;
  margin-bottom: 15%;
}


// @media all and (min-width: 575px){
//
// }

// @media all and (min-width: 768px){
//
// }

@media all and (min-width: 991px){
  .store {
    display: flex;
  }
}
