.products {
  display: block;
}

.categoria {
  margin-bottom: 4%;
  h1 {
    margin: 5% 0 5% 0;
    font-size: 4em;
  }
}

.descripcion-orden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 1.6em;
  }
  select {
    width: 230px;
    height: 50px;
    font-size: 2em;
  }
}

.store {
  display: none;
  margin-bottom: 15%;
}


// @media all and (min-width: 575px){
//
// }

// @media all and (min-width: 768px){
//
// }

@media all and (min-width: 991px){
  .descripcion-orden {
    align-items: flex-end;
    margin-right: 2%;
  }
  .store {
    display: flex;
  }
}
